{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% if object_list %}
        {% for item in products %}
            {% if user.is_authenticated and user == item.owner %}
        <div class="col-3">
            <img src="{{ item.product_preview.url }}" class="card-img-top" alt="{{ item.product_name }}">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ item.product_name }}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ item.category }}</p>
                    <h1 class="card-title pricing-card-title">{{ item.product_cost }} руб. </h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3 ">
                        <li>- Описание продукта: {{item.product_description | truncatechars:100 }} </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
                <h4 class="my-4 font-weight-normal">{% if item.active_version %}
                    <a>Текущая версия: {{ item.active_version.version_number }} ({{ item.active_version.version_name }})</a>
                    {% else %}
                    <a>Нет активной версии</a>
                    {% endif %}
                </h4>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}